/* Test Page layout */
#wrapper {
  display: grid;
  grid-template-columns: 650px 350px;
  grid-template-rows: auto auto auto;
  grid-gap: 0px;
  background-color: "white";
}

/* Button board layout */
.grid-container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
  background-color: "white";
  padding: 20px;
}

.grid-item {
  padding: 20px;
}

.round-button {
  display: inline-grid;
  width: 60px;
  height: 60px;
  line-height: 80px;
  border: 2px solid #000000;
  border-radius: 100%;
  color: #000000;
  background: white;
  box-shadow: 0 0 3px gray;
}

/* Board Controls layout */
.controls-container {
  grid-column: 1;
  padding: 20px;
}

#controls1 {
  grid-row: 2;
}

#controls2 {
  grid-row: 3;
}

#controls3 {
  grid-row: 4;
}

.button {
  display: inline-grid;
  /* justify-items: center; */
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  border: 2px solid #000000;
  text-align: center;
  color: #000000;
  font-family: Verdana;
  font-weight: bold;
  cursor: pointer;
  font-size: medium;
}

#submit {
  background: #83c387;
}

/* Board Preview layout */
.preview-container {
  grid-column: 2;
  padding: 20px;
}